﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                  Conclusion
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Conclusion
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <h2>Conclusion</h2>

    <br />
    <p id="param">
        NACSCUZ as a growing apex association for a growing SACCO movement is receptive to all forms of assistance, material or non material, financial or technical from progressive SACCO promoting institutions.
        <br/>
        Compiled by

        <h5><strong>Mr  O Mabukwa</strong></h5>
        <f style="font-style:italic">Chairman, National Association of Co-operative Savings and Credit Union of Zimbabwe (NACSCUZ)</f>



    </p>

</div>
