﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    NACSCUZ Strategic Vision
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        NACSCUZ Strategic Vision
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <h2>Vision</h2>

    <br />
    <p id="param">
        The savings and credit cooperative movement in Zimbabwe will mobilize all sectors
        of the population provide them with quality financial services in order to improve their
        economic and social well-being. These SACCOS will be financially stable, democratically managed
         and mutually supporting, so that they can effectively contribute to national development.


    </p>
</div>