﻿@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <h1>
                    TECHNICAL ADVISORY BOARD
                </h1>
            </div>
            <div class="col-lg-8 col-sm-8">
                <ol class="breadcrumb pull-right">
                    <li>
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="active">
                        Technical Advisory Board
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <h2>Technical Advisory Board</h2>

    <br />
    <p id="param">
        <table class="table table-striped">
            <tr>
                <th><strong>Name:</strong></th>
                <th><strong>Serving as:</strong></th>
            </tr>
       
            <tr>

                <td>Mr. Golden Kadziyanike</td>
                <td>Technical Advisor</td>
            </tr>

            <tr>
                <td>Mr. Albert Vingwe</td>
                <td>Technical Advisor</td>
            </tr>
            <tr>
                <td>Mr. Taruona Makumbe</td>
                <td>Technical Advisor</td>
            </tr>

        </table>

    </p>

</div>


